<% for(const [index, user] of users.entries()) { %>

<tr>
  <td data-label="#"><%= index + 1 %></td>
  <td data-label="name"><%= user.name %></td>
  <td data-label="email"><%= user.email %></td>
  <td data-label="gender"><%= user.gender %></td>
  <td data-label="status"><%= user.status %></td>
  <td data-label="action">
    <a href="/update-user?id=<%= user._id %>" class="btn border-shadow update">
      <span class="text-gradient"><i class="fas fa-pencil-alt" aria-hidden="true"></i></span>
    </a>
    <a class="btn border-shadow delete">
      <span class="text-gradient"><i class="fas fa-trash-alt" aria-hidden="true"></i></span>
    </a>
  </td>
</tr>

<% } %>
